<mat-toolbar color="secondary" *ngIf="!authService.isLoggedIn">
  <mat-toolbar-row>
    <h1><a mat-button [routerLink]="'/'">IT szaküzlet</a></h1>
    <span class="menu-spacer"></span>
    <span class="flexExpand"></span>
    <div>
      <a mat-button [routerLink]="'/login'"> Bejelentkezés </a>
      <a mat-button [routerLink]="'/registration'"> Regisztráció</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="secondary" *ngIf="authService.isLoggedIn">
  <mat-toolbar-row>
    <h1><a mat-button [routerLink]="'/'">IT szaküzlet</a></h1>
    <span class="menu-spacer"></span>
    <span class="flexExpand"></span>
    <div>
      <a mat-button [routerLink]="'/profile'"> {{authService.getUser()}}</a>
      <a mat-button [routerLink]="'/products'"> Termékek </a>
      <a mat-button [routerLink]="'/cart'"> Kosár </a>
      <button style="color:red" mat-button (click)="authService.SignOut()">Kijelentkezés</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
